# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Packaging
build/
dist/
*.egg-info/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# Editors
.vscode/
.idea/
*.swp
*.swo
.nvim/

# Logs
*.log

# Local configuration
sync.toml
.Location
